.header {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background: #495e57;
}

.header > div {
  margin-left: 20%;
  margin-right: 20%;
}

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background-color: #edefee;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #333333;
}

.nav li {
  margin: 0;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 18pt;
  font-weight: bold;
  color:#333333;
}

/* unvisited link */
a:link {
  color: #333333;
}

/* visited link */
a:visited {
  color: #333333;;
}

/* mouse over link */
a:hover {
  color: #f4ce14;
}

/* selected link */
a:active {
  color:  #f4ce14;
}



.header h1 {
  text-align: left;
  color:#f4ce14;
  font-family: "Markazi Text", serif;
  font-size: 60pt;
  margin-top: 0.67em;
  margin-bottom: -0.2em;
}


.aboutSection {
  display: grid;
  grid-template-rows: auto-fit, minmax(100px, 1fr);
}

.about {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background: #f4ce14;
}

.about > div {
  margin-left: 20%;
  margin-right: 20%;
}

.about p {
  color: #333333;
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  line-height: 150%;
}

.specialsSection {
  display: grid;
  grid-template-rows: auto-fit, minmax(100px, 1fr);
  background-color:#fbdabb;
}

.specialsTitle > div {
  margin-left: 20%;
}

.specialsTitle {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.specialsTitle h1 {
  text-align: left;
  color:#333333;
  font-family: "Markazi Text", serif;
  font-size: 60pt;
  margin-top: 0.67em;
  margin-bottom: -0.2em;
}

.specialsList {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-left: 20%;
  margin-right: 20%;

 
}

.footerSection {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color:#495e57;
  color: #edefee;
}

.footerSegment {
  display: grid;
  place-items: center;
}

.footerSegmentImage {
  display: inline;
  place-items: right;
  text-align: right;
}

.footerSegmentMenu {
  display: grid;
  place-items: left;
  text-align: left;
}

.socialsList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-left: 20%;
  margin-right: 20%;

  /* For screens smaller than 768px, display 2 columns */
  @media (max-width: 890px) {
    grid-template-columns: repeat(3, 1fr);
  }

  /* For screens smaller than 480px, display 1 column */
  @media (max-width: 582px) {
    grid-template-columns: 1fr;
  }
}

h2 {
  text-align: left;
  color: #edefee;
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
  margin-top: 0.0em;
  margin-bottom: 0.67em;
}

h3 {
  text-align: center;
  color: #333333;
  font-family: "Karla", sans-serif;
  font-size: 18pt;
  font-weight:600;
}

h4 {
  text-align: center;
  color: #333333;
  font-family: 'Karla', sans-serif;
  font-size: 18pt;
  font-weight: bold;
}

h5 {
  text-align:justify;
  color: #333333;
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  font-weight: 600;
}

h6 {
  text-align:justify;
  color: #333333;
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  font-weight: 600;
}

span {
  color: #333333;
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  line-height: 150%;
}


.header p {
  color: #edefee;
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  line-height: 150%;
}

/* unvisited link */
.footerSection a:link {
  color: #edefee;
}

/* visited link */
.footerSection a:visited {
  color: #edefee;;
}

/* mouse over link */
.footerSection a:hover {
  color: #f4ce14;
}

/* selected link */
.footerSection a:active {
  color:  #f4ce14;
}

.button {
  background-color: #f4ce14;
  border: none;
  color:  #333333;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16pt;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}